<div class="p-4">
  <div class="card">
    <div class="card-body">
      <ui-cron [(ngModel)]="expression"></ui-cron>
      <hr>

      <p>
        Angular implementation of
        <a
          target="_blank"
          href="https://www.freeformatter.com/cron-expression-generator-quartz.html">
          www.freeformatter.com/cron-expression-generator-quartz.html
        </a>
      </p>
      <div class="form-group">
        <label for="cron-expression">
          Cron expression
        </label>

        <input
          id="cron-expression"
          class="form-control"
          readonly
          [value]="expression">
      </div>
    </div>
  </div>
</div>
