.content-height {
	height: calc(100% - 64px);
}

.content {
	padding: 1.2rem 3rem 2rem;
	overflow-y: auto;
}

.sidebar {
	position: absolute;
	left: 0;
	margin-left: -260px;
	max-width: 260px;
	width: 260px;
	height: 100%;
	z-index: 2;
	transition: margin-left .3s;
	
	@media (min-width: 768px) {
		position: static;
		flex: 0 0 260px;
	}

	&.show {
		display: block !important;
		margin-left: 0;
	}

	@media (min-width: 768px) {
		&.md-show {
			margin-left: 0;
		}
	}

	&-bg {
		background-color: rgba(0, 0, 0, .6);
		z-index: 1;
	}
}